body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.logo {
    text-align: top;
    position:fixed; 
    top:0; 
    left:0;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

