body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.title{
    position:fixed;
    padding-left:100;
    
}
.logo {
    
    position:fixed; 
    top:0; 
    left:0;
}

.space {
    margin-top: 300px;
    
    
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}

